# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - student-schedule-frontend

on:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'
  workflow_dispatch:

env:
  NODE_VERSION: '20.x'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        working-directory: ./frontend
        run: npm ci

      - name: Build production
        working-directory: ./frontend
        run: npm run build
        env:
          VITE_API_URL: https://student-api-funct-bmhuhadvheehgge2.eastasia-01.azurewebsites.net/api
          VITE_ENTRA_CLIENT_ID: ${{ secrets.VITE_ENTRA_CLIENT_ID }}
          VITE_ENTRA_TENANT_ID: common
          VITE_REDIRECT_URI: https://student-schedule-frontend.azurewebsites.net

      - name: Copy web.config for SPA routing
        run: cp ./frontend/web.config ./frontend/dist/web.config

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: ./frontend/dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_FCE717B2FBD4421FBA2CEC0820F82988 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_5602ADEC13C348B190607E3056342194 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D4756E294DAB414A97DB22BAE04706B9 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'student-schedule-frontend'
          slot-name: 'Production'
          package: .

          
